/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

.bg-color {
	background-color: #317693;
}

a .ative-2 {
	background-color: #204361 !important;
	border-color: #204361;
}